@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

#spinner {
  animation: spinner_effect 2s infinite;
}

@keyframes spinner_effect {
  0% {
    rotate: 0;
    opacity: 100%;
  }
  40% {
    rotate: 180deg;
  }
  80% {
    rotate: 360deg;
    opacity: 50%;
  }
  100% {
    opacity: 0%;
  }
}



::-webkit-scrollbar {
  width: 12px;
}

[data-theme='dark'] ::-webkit-scrollbar-track {
  background: #434c57;
}

[data-theme='light']  ::-webkit-scrollbar-track{
  background: #F3F4F6;
}

::-webkit-scrollbar-thumb {
  background: rgb(15, 15, 15);
}